@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap');

body {
  font-family: 'Mitr', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header {
  width: 100%;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding-left: 30px;
}

.header-links {
  display: flex;
  gap: 15px;
  padding-right: 30px;
}

.header-link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: color 0.3s;
}

.header-link:hover {
  color: blue;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.image-container {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  width: 100%;
}

.profile-image {
  max-width: 100%;
  height: 200px;
  border-radius: 50%;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
}

.button {
  width:70%;
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: large;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: blue;
}

.footer {
  background-color: whitesmoke;
  text-align: center;
  padding: 20px;
  width: 100%;
  position: relative;
}

.footer-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.developers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.developer {
  width: 25%;
  text-align: center;
}

.developer-image {
  height: 200px;
  width: auto;
  border-radius: 50%;
}

.footer-logos {
  margin-top: 20px;
}

.logo {
  width: 60px;
  height: 60px;
  margin: 0.5px;
}
